################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Artifacts/.vs/Artifacts/v16
/Artifacts/LeetCode/obj
/Artifacts/LeetCode/bin/Debug/netcoreapp3.1
